# General
.DS_Store
*.swp
*.swo
*~

# Frontend
# dependencies
node_modules/
/frontend/node_modules/
/frontend/dist/

# Backend
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/backend_v1/env/
/backend_v1/venv/
/backend_v1/ENV/
/backend_v1/env.bak/
/backend_v1/venv.bak/
/backend_v1/instance/

# Flask
/backend_v1/instance/
/backend_v1/.webassets-cache
/backend_v1/htmlcov/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# env
#.env
.env.local
#.env.production

# python cache
__pycache__/
*.pyc
*.pyo

# RSA key
*.pem

# node modules
**/node_modules/
