# General
.DS_Store
*.swp
*.swo
*~

# Frontend
# dependencies
node_modules/
/frontend/node_modules/
/frontend/dist/

# Backend
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/backend/env/
/backend/venv/
/backend/ENV/
/backend/env.bak/
/backend/venv.bak/
/backend/instance/

# Flask
/backend/instance/
/backend/.webassets-cache
/backend/htmlcov/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# env
.env
.env.local
.env.production

# python cache
__pycache__/
*.pyc
*.pyo
